.goban {
  font-size:          0;
  display:            inline-block;	
  padding:            12px;
  position:           relative;
  background:         url( http://www.dragongoserver.net/images/wood1.gif );
  -moz-box-shadow:    inset 0 0 25px #333333;
  -webkit-box-shadow: inset 0 0 25px #333333;
  box-shadow:         inset 0 0 25px #333333;
}
.goban .action,
.goban .cell {
  float:              left;	
  width:              25px;
  height:             25px;
}
.goban .cell {
  background:         url( http://www.dragongoserver.net/25/e.gif );
}
.goban .cell.first_col {
  background:         url( http://www.dragongoserver.net/25/el.gif );
  clear:              left;
}
.goban .cell.last_col {   
  background:         url( http://www.dragongoserver.net/25/er.gif );
}
.goban .cell.first_row {
  background:         url( http://www.dragongoserver.net/25/u.gif );
}   
.goban .cell.last_row {   
  background:         url( http://www.dragongoserver.net/25/d.gif );
}  
.goban .cell.first_col.first_row {
  background:         url( http://www.dragongoserver.net/25/ul.gif );
}   
.goban .cell.first_col.last_row {   
  background:         url( http://www.dragongoserver.net/25/dl.gif );
}   
.goban .cell.last_col.first_row {
  background:         url( http://www.dragongoserver.net/25/ur.gif );
}
.goban .cell.last_col.last_row {
  background:         url( http://www.dragongoserver.net/25/dr.gif );
}
.goban .stone.black {
  background:         url( http://www.dragongoserver.net/25/b.gif );
}
.goban .stone.white {
  background:         url( http://www.dragongoserver.net/25/w.gif );
}
.goban .action {
  text-decoration:    none;
}
