.goban .board {
  font-size:          0;
  display:            inline-block;	
  padding:            12px;
  position:           relative;
  background:         url( ./static/wood1.gif );
  -moz-box-shadow:    inset 0 0 25px #333333;
  -webkit-box-shadow: inset 0 0 25px #333333;
  box-shadow:         inset 0 0 25px #333333;
}
.goban .content,
.goban .cell {
  float:              left;	
  width:              25px;
  height:             25px;
}
.goban .cell {
  background:         url( ./static/e.gif );
}
.goban .cell.first_col {
  background:         url( ./static/el.gif );
  clear:              left;
}
.goban .cell.last_col {   
  background:         url( ./static/er.gif );
}
.goban .cell.first_row {
  background:         url( ./static/u.gif );
}   
.goban .cell.last_row {   
  background:         url( ./static/d.gif );
}  
.goban .cell.first_col.first_row {
  background:         url( ./static/ul.gif );
}   
.goban .cell.first_col.last_row {   
  background:         url( ./static/dl.gif );
}   
.goban .cell.last_col.first_row {
  background:         url( ./static/ur.gif );
}
.goban .cell.last_col.last_row {
  background:         url( ./static/dr.gif );
}
.goban .stone.black {
  background:         url( ./static/b.gif );
}
.goban .stone.white {
  background:         url( ./static/w.gif );
}
.goban .action {
  text-decoration:    none;
}
