a {
    color: #AD7E1F;
}
a:hover {
    color: #6C4F13;
}
h1 a:hover,
h1 a {
    color: black;
}
.btn.primary {
    background-color: #AD7E1F;
    background-image: -moz-linear-gradient(center top , #D99D26, #AD7E1F);
}
input:focus, textarea:focus {
    border-color: rgba(173, 126, 31, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(173, 126, 31, 0.6);
}

.container {
    width: 500px;
}
.page-header {
    margin: 18px 0;
}
.page-header h1 {
    margin: 8px 0;
}
.actions {
    text-align: right;
}
