a {
    color: #AD7E1F;
}
a:hover {
    color: #6C4F13;
}
h1 a:hover,
h1 a {
    color: black;
}
.btn.primary {
    background-color: #AD7E1F;
    background-image: -moz-linear-gradient(center top , #D99D26, #AD7E1F);
}
input:focus, textarea:focus {
    border-color: rgba(173, 126, 31, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(173, 126, 31, 0.6);
}

.container {
    width: 500px;
}
.page-header {
    margin: 0 0 18px;
    padding: 9px 9px 0;
    background: #F5F5F5;
}
.page-header h1 {
    margin: 8px 0;
}
section .page-header {
    margin: 0 0 9px;
}
.input-xlarge, input.xlarge, textarea.xlarge, select.xlarge {
    width: 330px;
}
.actions {
    text-align: right;
    background: transparent;
    margin: 18px 0 0;
    padding: 0 10px 18px 20px;
}
